.forgot-password-container, .forgot-password-container mat-card-header, .forgot-password-container mat-card-content  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.forgot-password-form mat-form-field {
    width: 100%;
}

.forgot-password-card {
    min-width: 250px;
}

img {
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 100%;
}
