<div class="loading-shade" *ngIf="loading===true">
</div>

<div class="forgot-password-container">
    <h1>Forgot password</h1>

    <mat-card class="forgot-password-card">
        <mat-card-header>
            <img src="assets/img/liver.png" alt="logo" width="128" height="128">
            <mat-card-title>OctDiag</mat-card-title>
        </mat-card-header>
        <mat-card-content class="forgot-password-card-content">
            <form class="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
                <ng-container *ngIf="!verificationCodeExpected">
                    <p>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Email" formControlName="email" />
                            <!--mat-error *ngIf="loginForm.email.hasError('email') && !loginForm.email.hasError('required')">
                                Please enter a valid e-mail address.
                            </mat-error>
                            <mat-error *ngIf="loginForm.email.hasError('required')">
                                E-mail is <strong>required</strong>
                            </mat-error-->
                        </mat-form-field>
                    </p>
                    <button mat-button type="submit" color="primary">Get verification code</button>
                </ng-container>
            </form>

            <form class="forgot-password-form" [formGroup]="verificationCodeForm" (ngSubmit)="onVerificationCodeEntered()">
                <ng-container *ngIf="verificationCodeExpected">
                    <p>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Verification code" formControlName="verificationCode" />
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Enter your new password" formControlName="password" />
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Re-enter your new password" formControlName="confirmPassword" />
                        </mat-form-field>
                    </p>
                    <button mat-button type="submit" color="primary">Reset password</button>

                    <mat-spinner style="margin-top: 1em;" [diameter]="40" *ngIf="loading === true"></mat-spinner>
                    <div class="login-error" *ngIf="forgotPasswordError === true">
                        {{forgotPasswordMessage}}
                    </div>
                </ng-container>
            </form>
        </mat-card-content>
    </mat-card>
</div>
